<div class="p-2">
    <h4 class="text-muted text-thin">Themes</h4>
    <div class="row row-flush mb-2">
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="A" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-info"></span>
                        <span class="color bg-info-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="B" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-green"></span>
                        <span class="color bg-green-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="C" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-purple"></span>
                        <span class="color bg-purple-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="D" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-danger"></span>
                        <span class="color bg-danger-light"></span>
                    </span>
                    <span class="color bg-white"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row row-flush mb-2">
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="E" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-info-dark"></span>
                        <span class="color bg-info"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="F" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-green-dark"></span>
                        <span class="color bg-green"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="G" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-purple-dark"></span>
                        <span class="color bg-purple"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
        <div class="col mb-2">
            <div class="setting-color">
                <label>
                    <input type="radio" name="setting-theme" [(ngModel)]="currentTheme" (ngModelChange)="setTheme()"
                        value="H" />
                    <span class="icon-check"></span>
                    <span class="split">
                        <span class="color bg-danger-dark"></span>
                        <span class="color bg-danger"></span>
                    </span>
                    <span class="color bg-gray-dark"></span>
                </label>
            </div>
        </div>
    </div>
</div>