<div class="rightsidebar-inner">
    <div class="list-group">
        <ng-template [ngIf]="connectsPeople && connectsPeople.length > 0" [ngIfElse]="nonPerson">
            <div *ngFor="let people of connectsPeople" class="user-img" (click)="gotoChat(idx);">
                <img class="align-self-start mx-2 circle thumb40" [src]="people.img" alt="Image">
                <span [ngClass]="{'circle circle-lg text-left user-status': true, 
                                                'bg-success': people.status==='on',
                                                'bg-warning': people.status==='off'}"></span>
            </div>
        </ng-template>
        <ng-template #nonPerson>
            <span>&nbsp;</span>
        </ng-template>
    </div>
</div>