.rightsidebar-inner {
    padding-top: 55px;
    .list-group {
        line-height: 2.5;
        padding-top: 2em;
    }
}
.user-img {
    position: relative;
    span {
        position: absolute;
        top: 0px;
        left: 40px;
    }
    cursor: pointer;
}