<div class="card detail-cell" (click)="clickShowOverview($event)">
    <div class="row m-0 mc-relative img-view">
        <img class="card-img-top" src={{car.demoImg}} alt="Card image">
        <div class="px-3 py-1 text-center price-label">{{car.price}}</div>
        <div class="px-3 py-1 text-center free-mark text-bold" *ngIf="car.free">Free</div>
        <div class="row py-1 pics-header">
            <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
            <span class="mb-0">&nbsp;0/5</span>
        </div>
    </div>
    <div class="card-header text-center" style="min-height: 130px">
        <div class="row m-0 mb-3 text-bold text-center">
            <div class="col-4 p-0 br px-1 text-truncate">{{car.make}}</div>
            <div class="col-3 p-0 br px-1 text-truncate">{{car.model}}</div>
            <div class="col-3 p-0 br px-1 text-truncate">{{car.mils}}</div>
            <div class="col-2 p-0 px-1 text-truncate">{{car.type}}</div>
        </div>
        <div class="row m-0 w-100">
            {{car.description}}
        </div>
    </div>
    <div class="row row-flush px-2 py-1 msg-list mc-border-t">
        <div class="col-lg-4 msg-item">
            <div class="row w-100 px-1 row-flush">
                <p class="text-truncate mb-0"><em class="fa-2x mr-1 far fa-comment-dots"></em><span>Message</span></p>
            </div>
        </div>
        <div class="col-lg-4 msg-item">
            <div class="row w-100 px-1 row-flush">
                <p class="text-truncate mb-0"><em class="fa-2x mr-1 far fa-comment-dots"></em><span>Message</span></p>
            </div>
        </div>
        <div class="col-lg-4 msg-item">
            <div class="row w-100 px-1 row-flush">
                <p class="text-truncate mb-0"><em class="fa-2x mr-1 far fa-comment-dots"></em><span>Message</span></p>
            </div>
        </div>
    </div>
    <div class="card-footer row m-0">
        <div class="row w-100 row-flush ">
            <p class="text-truncate mb-0"><em class="fa-2x mr-2 fas fa-home"></em><span>Coventry, England - about an
                    hour ago</span></p>
        </div>
    </div>
</div>