.detail-cell {
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1.25rem;

    .img-view {
        font-size: 1.5em;
    }
    .card-img-top {
        height: 11em;
        max-width: 100%;
    }
    &:hover,
    &:focus {
        .msg-list {
            display: inline-flex;
        }
    }
}

.free-mark {
    position: absolute;
    bottom: 0em;
    left: 0em;
    border-radius: 0px;
    color: #ffffff;
    background-color: #000000aa;
    font-size: 0.7em;
}

.price-label {
    position: absolute;
    top: 0em;
    left: 0em;
    border-radius: 0px;
    color: orange;
    background-color: #ffffff;
    font-size: 0.7em;
}

.pics-header {
    position: absolute;
    top: 0;
    right: 0px;
    margin: 0em;
    font-size: 0.8em;
    padding: 0.25em;
    border-radius: 0px;
    background-color: #000000aa;
    color: #ffffff;

    z-index: 100;
    height: 1.5em;

    img {
        height: 100% !important;
        width: auto !important;
        margin: 0 0.2em;

        &.slide-stop,
        &.slide-start {
            cursor: pointer;
        }
    }

    .interbar {
        border-right: 1px solid #ffffffaa;
        padding: 0.1em 0.1em 0.1em 0;
        margin: 0.1em 0.1em 0.1em 0;
    }
}

.msg-list {
    display: none;
    position: absolute;
    left: 0;
    bottom: 2.8em;
    width: 100%;
    background-color: #ffffff;

    .msg-item {
        font-size: 1.2em;
    }
}
