<div class="wrapper">
    <app-header class="topnavbar-wrapper" [isLogin]="false"></app-header>
    <div class="main-container py-100">
        <div class="block-center mt-4 wd-xl">
            <!-- START card-->
            <div class="card card-flat">
                <div class="card-header text-center bg-dark">
                    <a href="#">
                        <img class="block-center rounded" src="assets/img/logo.png" alt="Image" />
                    </a>
                </div>
                <div class="card-body">
                    <p class="text-center py-2">PASSWORD RESET</p>
                    <form [formGroup]="valForm" class="form-validate" role="form" name="recoverForm" novalidate="" (submit)="submitForm($event, valForm.value)">
                        <p class="text-center">Fill with your mail to receive instructions on how to reset your password.</p>
                        <div class="form-group">
                            <label class="text-muted">Email address</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="email" name="email" placeholder="Enter email" autocomplete="off" formControlName="email" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-envelope"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="valForm.controls['email'].hasError('required') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field is required</div>
                            <div class="text-danger" *ngIf="valForm.controls['email'].hasError('email') && (valForm.controls['email'].dirty || valForm.controls['email'].touched)">This field must be a valid email address</div>
                        </div>
                        <button class="btn btn-danger btn-block" type="submit">Reset</button>
                    </form>
                </div>
            </div>
            <!-- END card-->
            <div class="p-3 text-center">
                <span>&copy;</span>
                <span>{{ settings.getAppSetting('year') }}</span>
                <span class="mx-2">-</span>
                <span>{{ settings.getAppSetting('name') }}</span>
                <br/>
                <span>{{ settings.getAppSetting('description') }}</span>
            </div>
        </div>
    </div>
    
    <footer app-footer></footer>
</div>
