<div class="wrapper car-view m-0 p-0">
    <div class="container-fluid">
        <div class="card card-transparent">
            <div class="card-body">
                <div class="row m-0 w-100">
                    <div class="col-md-9 p-0">
                        <div class="row m-0 align-stretch-columns">
                            <div class="col-md-7 px-2 pl-md-0 mb-3">
                                <div class="card h-100 mb-0">
                                    <div class="card-body pb-0">
                                        <div class="row w-100 m-0 px-2 justify-content-between">
                                            <div class="col-auto text-center text-truncate car-title">Lorem ipsum dolor
                                                sit amet, consectetur
                                                adipicsing elit. Aliquam hendrerit sagittis urna.</div>
                                            <label>£50000</label>
                                        </div>
                                        <div class="row w-100 m-0 car-imgs">
                                            <div class="row m-0 w-100 justify-content-center main-img">
                                                <img src={{mainImage}} alt="main car">
                                            </div>
                                            <div class="row m-0 img-list">
                                                <ngu-carousel #imgCarousel [inputs]="carouselTile"
                                                    [dataSource]="imgLists">
                                                    <ngu-tile *nguCarouselDef="let item; let id = index" class="px-1">
                                                        <img src={{item.image}} alt="" (click)="selectImage(id)">
                                                    </ngu-tile>
                                                    <button NguCarouselPrev class="leftRs"
                                                        [style.opacity]="imgCarousel.isFirst ? 0.2:1"><em
                                                            class="fa-2x fas fa-angle-left"></em></button>
                                                    <button NguCarouselNext class="rightRs"
                                                        [style.opacity]="imgCarousel.isLast ? 0.2:1"><em
                                                            class="fa-2x fas fa-angle-right"></em></button>
                                                </ngu-carousel>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 px-2 p-md-0 mb-3">
                                <div class="list-group">
                                    <div class="list-group-item p-3">
                                        <div class="media">
                                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                            <div class="media-body text-truncate">
                                                <p class="mb-0">Make: Ford</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-3">
                                        <div class="media">
                                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                            <div class="media-body text-truncate">
                                                <p class="mb-0">Model: Ford Tititanium</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-3">
                                        <div class="media">
                                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                            <div class="media-body text-truncate">
                                                <p class="mb-0">Model: Ford Tititanium</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-3">
                                        <div class="media">
                                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                            <div class="media-body text-truncate">
                                                <p class="mb-0">Model: Ford Tititanium</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-0">
                                        <div class="row row-flush">
                                            <div
                                                class="col-6 py-3 br d-flex align-items-center justify-content-center btn-posted-by">
                                                <div>
                                                    <div class="h4 m-0 text-bold">Posted by</div>
                                                </div>
                                            </div>
                                            <div
                                                class="col-6 py-3 d-flex align-items-center justify-content-center btn-payment">
                                                <div>
                                                    <div class="h4 m-0 text-bold">Payment</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item p-0">
                                        <div class="card mb-0 car-level">
                                            <div class="card-body">
                                                <div class="row w-100 m-0">
                                                    <div class="col-5">
                                                        <img src="assets/img/home/main-card.png" width="100%">
                                                    </div>
                                                    <div class="col-7 pr-0">
                                                        <div
                                                            class="row w-100 m-0 py-3 d-flex align-items-center justify-content-center">
                                                            <div>
                                                                <div class="h5 m-0 text-bold">Peak Autos Ltd</div>
                                                            </div>
                                                        </div>
                                                        <div class="row w-100 m-0">
                                                            <rating [ngModel]="3" [max]="5" [readonly]="true"
                                                                [titles]="['one','two','three']"
                                                                stateOn="fa-2x fa fa-star text-yellow"
                                                                stateOff="fa-2x far fa-star"></rating>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row w-100 m-0 px-3">
                                                    <div class="col-6 p-0 text-center">
                                                        <span><em
                                                                class="fa-2x mr-2 fas fa-clipboard-list"></em>&nbsp;&nbsp;Website</span>
                                                    </div>
                                                    <div class="col-6 p-0 text-center">
                                                        <span><em
                                                                class="fa-2x mr-2 fas fa-clipboard-list"></em>&nbsp;&nbsp;0779297372</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-flush tab-list px-md-0 px-2">
                            <div class="card card-transparent mb-0 h-100 w-100">
                                <tabset class="bg-white p-0 h-100" justified="true">
                                    <!-- Description -->
                                    <tab>
                                        <ng-template tabHeading class="dealer-tab-header">
                                            Description
                                        </ng-template>
                                        <div class="p-3 m-0">
                                            <div class="row m-0 mb-3 mt-3">
                                                <textarea aria-label="With textarea" class="form-control"
                                                    spellcheck="false" placeholder="Heading..."
                                                    class="heading p-2"></textarea>
                                            </div>
                                            <div class="row row-flush">
                                                <textarea aria-label="With textarea" class="form-control"
                                                    spellcheck="false" placeholder="Description..."
                                                    class="description p-2"></textarea>
                                            </div>
                                        </div>
                                    </tab> <!-- End Description -->
                                    <!-- Extras -->
                                    <tab>
                                        <ng-template tabHeading class="dealer-tab-header">
                                            Extras
                                        </ng-template>
                                        <div class="p-3 w-100">
                                            Extras
                                        </div>
                                    </tab> <!-- End Extras -->
                                    <!-- Tab 3 -->
                                    <tab>
                                        <ng-template tabHeading class="dealer-tab-header">
                                            Tab 3
                                        </ng-template>
                                        <div class="p-3 w-100">
                                            Tab 3
                                        </div>
                                    </tab> <!-- End Tab 3 -->
                                </tabset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>