.car-overview {
    background-color: #f5f7fa;

    .tab-list {
        font-size: 1em;

        a.show-all {
            font-size: 0.8em;
            cursor: pointer;
            text-decoration: underline;
            color: blue;
        }

        .delar-list {
            img {
                width: 100%;
                height: 150px;
            }
        }

        .tab-content {
            border: none;
        }
    }
}

.car-title {
    max-width: 80%;
}

.btn-close {
    position: absolute;
    top: 1.2em;
    right: 1.2em;
    cursor: pointer;
}

.car-imgs {
    .main-img {
        img {
            max-width: 100%;
            height: 21em;
        }
    }

    .img-list {
        justify-content: space-between;
        .item {
            padding: 0.5em;

            img {
                width: 100%;
                height: 7.1em;
                border: 2px solid #ffffff;

                &:hover {
                    border: 2px solid #ff0000;
                }

                &.leave-prevent {
                    pointer-events: none;
                }
            }
        }
    }
}
.icon-bar {
    padding: 1em 0;
    border-top: 1px solid #e4eaec;
    border-bottom: 1px solid #e4eaec;

    img.exclamation {
        height: 20px;
        margin-top: -3px;
        filter: opacity(0.6);
    }
}

textarea.heading {
    height: 5em;
    width: 100%;
}

textarea.description {
    height: 12em;
    width: 100%;
}

.car-level {
    .card-footer {
        border-top: none;
        background-color: transparent;
    }
    img {
        width: 100%;
        height: 8em;
    }
}

.price-label {
    position: absolute;
    top: 0;
    left: 0;
    margin: -1px 0;
    font-size: 0.8em;
    padding: 0.25em 0.75em;
    border-radius: 0;

    color: orange;
    background-color: #ffffff;
}

.pics-header {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 0.8em;
    padding: 0.25em;
    border-radius: 0;
    background-color: #000000aa;
    color: #ffffff;

    z-index: 100;
    height: 1.8em;

    img {
        height: 100% !important;
        width: auto !important;
        margin: 0 0.2em;

        &.slide-stop,
        &.slide-start {
            cursor: pointer;
        }
    }

    .interbar {
        border-right: 1px solid #ffffffaa;
        padding: 0.1em 0.1em 0.2em 0;
        margin: 0.1em 0.1em 0.2em 0;
    }

    span {
        font-size: 1.1em;
    }
}

@media (min-width: 768px) {
    .posted-by {
        border-right: 1px solid #e4eaec;
    }
}

.btn-posted-by,
.btn-payment {
    cursor: pointer;
    &:hover {
        .h4 {
            text-decoration: underline;
        }
    }
}

.leftRs {
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    width: 25px;
    height: 28px;
}

.rightRs {
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    right: 0 !important;
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
    width: 25px;
    height: 28px;
}
