<!-- START Top Navbar-->
<nav class="navbar topnavbar navbar-expand-lg navbar-light" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
            <div class="brand-logo">
                <img class="img-fluid" src="assets/img/logo.png" alt="App Logo" />
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-fluid" src="assets/img/logo-single.png" alt="App Logo" />
            </div>
        </a>
       <button class="navbar-toggler" type="button" (click)="navCollapsed = !navCollapsed">
          <span class="navbar-toggler-icon"></span>
       </button>
    </div>
    <!-- END navbar header-->

    <!-- START Left navbar-->
    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">

            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <!-- <a class="nav-link sidebar-toggle d-md-none" (click)="showSidebarOnMobile();">
                <em class="fas fa-bars"></em>
            </a> -->
        </li>
    </ul>
    <!-- END Left navbar-->

    <!-- START Nav wrapper-->
    <div class="navbar-collapse collapse" [collapse]="navCollapsed">
        <!-- Navbar Menu -->
        <ul class="nav navbar-nav mr-auto flex-column flex-lg-row">
            <li class="nav-item" *ngFor="let item of menuItems" [ngClass]="{'dropdown': item.submenu}" dropdown>
                <a class="nav-link" *ngIf="!item.heading && !item.submenu" [routerLinkActive]="['active']"
                    [routerLink]="item.link" [attr.route]="item.link" [title]="item.text">
                    <span>{{(item.translate | translate) || item.text}}</span>
                </a>
                <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" dropdownToggle *ngIf="item.submenu">
                    <span>{{(item.translate | translate) || item.text}}</span>
                </a>
                <!-- START Dropdown menu-->
                <div *dropdownMenu class="dropdown-menu animated fadeInUp">
                    <a class="dropdown-item" *ngFor="let subitem of item.submenu" [routerLinkActive]="['active']"
                        [routerLink]="subitem.link" [attr.route]="item.link" [title]="subitem.text" >
                        <span>{{(subitem.translate | translate) || subitem.text}}</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- End Navbar Menu-->

        <ng-template [ngIf]="isLogin" [ngIfElse]="nonLogin">
            <!-- START Right Navbar-->
            <ul class="navbar-nav flex-row mr-4">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/cars/new'">
                        <span>Free Post</span>
                    </a>
                </li>

                <!-- START Alert menu-->
                <li class="nav-item dropdown dropdown-list" dropdown>
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" dropdownToggle>
                        <em class="icon-bell"></em>
                        <span class="badge badge-danger">11</span>
                    </a>
                    <!-- START Dropdown menu-->
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right animated fadeInDown">
                        <div class="dropdown-item">
                            <!-- START list group-->
                            <div class="list-group">

                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->
                            <!-- list item-->
                            <div class="list-group-item list-group-item-action">
                                <div class="media">
                                    <div class="align-self-start mr-2">
                                        <em class="fa fa-envelope fa-2x text-warning"></em>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-0">e-mails</p>
                                        <p class="m-0 text-muted text-sm">You have 10 new emails</p>
                                    </div>
                                </div>
                            </div>
                            <!-- list item-->

                            </div>
                            <!-- END list group-->
                        </div>
                    </div>
                    <!-- END Dropdown menu-->
                </li>
                <!-- END Alert menu-->

                <!-- START User Info -->
                <li class="nav-item user-info">
                    <a class="nav-link">
                        <div class="user-img">
                            <img class="align-self-start mx-2 circle thumb40" src="assets/img/user/02.jpg" alt="Image">
                            <span class="circle bg-success circle-lg text-left user-status"></span>
                        </div>
                        <div class="media-body text-truncate">
                            <p class="mb-1">
                                <strong class="text-white">
                                    <span>Catherine Ellis</span>
                                </strong>
                            </p>
                            <p class="mb-1 text-sm">Seller</p>
                        </div>
                    </a>
                </li>
                <!-- START User Info -->

                <!-- START Offsidebar button-->
                <!-- <li class="nav-item">
                    <a class="nav-link" (click)="toggleOffsidebar(); $event.stopPropagation()">
                        <em class="icon-notebook"></em>
                    </a>
                </li> -->
                <!-- END Offsidebar menu-->
            </ul>
            <!-- END Right Navbar-->
        </ng-template>

        <!-- not login -->
        <ng-template #nonLogin>
            <!-- START Right Navbar-->
            <ul class="navbar-nav flex-row mr-5">
                <!-- START free post -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/cars/new'">
                        <span>Free Post</span>
                    </a>
                </li>
                <!-- END free post -->

                <!-- START Alert menu-->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/login'">
                        <span>Login</span>
                    </a>
                </li>
                <!-- END Alert menu-->

                <!-- START User Info -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/register'">
                        <span>Register</span>
                    </a>
                </li>
                <!-- START User Info -->

                <!-- START Offsidebar button-->
                <li class="nav-item">
                    <a class="nav-link" (click)="toggleOffsidebar(); $event.stopPropagation()">
                        <em class="icon-notebook"></em>
                    </a>
                </li>
                <!-- END Offsidebar menu-->
            </ul>
            <!-- END Right Navbar-->
        </ng-template>
    </div>
    <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
