.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-link {
        display: flex;
        padding: 0;
        position: relative;
    }
    .user-status {
        position: absolute;
        left: 37px;
        top: -3px;
    }
    .user-img {
        display: flex;
        align-items: center;
    }
}

.dropdown-menu.dropdown-menu-right {
  max-height: calc(100vh - 75px);
  overflow-y: auto;
}
