.page-btn {
    background-color: #00000022;
    padding: 0.3em 0.5em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;

    &:hover {
        background-color: #00000055;
    }
}

.hidden-btn {
    position: absolute;
    top: 50vh;
    left: 0;
    .btn:focus,
    .btn.focus {
        outline: 0;
        box-shadow: none;
    }
}

.show-leftside {
    border-radius: 2em;
    background-color: #cccccc;
    max-width: 20em !important;

    .show,
    .hidden {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
        cursor: pointer;

        border-radius: 2em;
        border: 2px solid #cccccc;

        &.selected {
            border-color: #06a09d;
            background-color: #ffffff;
        }
    }
}
