<div class="container-fluid">
    <div class="d-flex">
        <!-- sidebar-->
        <app-sidebar class="aside-container sidebar-container h-100"></app-sidebar>

        <div class="">
            <div class="card card-transparent mb-0">
                <div class="row row-flush px-3 justify-content-between">
                    <div class="col-xl-2 col-lg-3 m-0 pt-1">
                        <div class="row m-0 show-leftside ml-lg-0 ml-auto">
                            <div class="col-6 show" [class.selected]="isShownLeftSide" (click)="showLeftSide()">Show
                            </div>
                            <div class="col-6 hidden" [class.selected]="!isShownLeftSide" (click)="hiddenLeftSide()">
                                Hide</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 mb-sm-0 pt-2">
                        <div class="d-flex pl-sm-2">
                            <span class="rel-left text-truncate">Sort by:</span>
                            <ng-multiselect-dropdown class="rel-right" [placeholder]="'Relevance'" [data]="dropdownList"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-sm-0 pt-2">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="page-btn mr-2"><span><em class="fa-2x fas fa-angle-left"></em></span></div>
                            <span>Page 1 of 4</span>
                            <div class="page-btn ml-2"><span><em class="fa-2x fas fa-angle-right"></em></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-xl-3 col-lg-6" *ngFor="let car of cars; let idx = index;">
                    <app-car-card (showOverview)="showOverview($event);" [car]="car"></app-car-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offsidebar d-flex">
    <app-car-overview></app-car-overview>
</div>