<div class="wrapper">

    <app-header class="topnavbar-wrapper" [isLogin]="false"></app-header>

    <!-- <ks-carousel [id]="100" [images]="carReviewSlides"></ks-carousel> -->

    <div class="main-container">
        <!-- Main Banner -->
        <div class="row w-100 mx-0 align-items-stretch main-banner">
            <div class="col-lg-7 pr-lg-2 main-board">
                <app-car-carousel [data]="carReviewSlides" [height]="400"></app-car-carousel>
            </div>
            <div class="col-lg-5 pl-lg-2">
                <div class="card w-100 h-100">
                    <div class="card-body">
                        <div class="row w-100 m-0 p-3 mb-2 align-items-stretch justify-content-center">
                            <div class="col text-center mb-3 cars-number">
                                <p>529,642 cars</p>
                            </div>
                            <div class="col-auto">
                                <div class="row d-flex flex-nowrap">
                                    <div class="text-center car-type mb-3" [class.selected]="carType === 0"
                                        (click)="selectCarType(0)">
                                        <img src="assets/img/icons/autocar.png" alt=""></div>
                                    <div class="text-center car-type mb-3" [class.selected]="carType === 1"
                                        (click)="selectCarType(1)">
                                        <img src="assets/img/icons/autocycle.png" alt="">
                                    </div>
                                    <div class="text-center car-type mb-3" [class.selected]="carType === 2"
                                        (click)="selectCarType(2)">
                                        <img src="assets/img/icons/bus.png" alt=""></div>
                                    <div class="text-center car-type mb-3" [class.selected]="carType === 3"
                                        (click)="selectCarType(3)">
                                        <img src="assets/img/icons/truck.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <form class="w-100">
                            <div class="row w-100 m-0 mb-0">
                                <div class="col-sm-6 pr-md-1">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'National'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems0" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-6 pr-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'Make(any)'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems1" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'Model(any)'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems2" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-6 pr-md-1">
                                    <div class="form-group mb">
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'National'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems3" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-6 pr-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'Make(any)'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems4" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <div class="form-group mb">
                                        <ng-multiselect-dropdown [placeholder]="'Make(any)'" [data]="dropdownList"
                                            [(ngModel)]="selectedItems5" [settings]="dropdownSettings"
                                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row mx-3 mb-3 charge-type">
                            <div class="col-6 cash" [class.selected]="chargeType === 0" (click)="selectCashType()">Cash
                            </div>
                            <div class="col-6 finance" [class.selected]="chargeType === 1"
                                (click)="selectFinanceType()">Finance</div>
                        </div>
                        <div class="row w-100 m-0 mb-3">
                            <div class="col-sm-6 pr-md-1 mb-3 text-center">
                                <button class="mr-1 btn btn-danger mc-border-radius-4 w-100 search-all" type="button">
                                    <p>SEARCH ALL</p>
                                </button>
                            </div>
                            <div class="col-sm-6 pl-md-1 mb-3 text-center">
                                <button class="mr-1 btn btn-inverse mc-border-radius-4 w-100 find-dealer" type="button">
                                    <p>FIND DEALLER</p>
                                </button>
                            </div>
                        </div>
                        <div class="row w-100 m-0 px-3 justify-items-between main-footer">
                            <p class="location-address"><em class="fa-2x mr-2 fas fa-map-marker-alt"></em> 68 Dubford
                                Pl. London, UK change Location</p>
                            <a href="#">Change Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Banner -->
        <!-- Main Type -->
        <div class="row w-100 mx-0 mb-3 main-type">
            <div class="col-12 px-2">
                <ngu-carousel #imgCarousel [inputs]="mainTypeCaroselConfig" [dataSource]="mainTypeList">
                    <ngu-tile *nguCarouselDef="let item; let j = index" class="py-2">
                        <div class="card w-100 mb-0">
                            <div class="card-body row justify-content-center">
                                <div class="col-lg-2 col-md-3">
                                    <div class="col-12 text-center mb-3"><span>£{{item.price}}</span></div>
                                    <div class="col-12 text-center"><span>...</span></div>
                                </div>
                                <div class="col-lg-5 col-md-7">
                                    <div class="row mb-3">
                                        <div class="col-4 text-center"><span>{{item.carMake}}</span></div>
                                        <div class="col-4 text-center"><span>{{item.carModel}}</span></div>
                                        <div class="col-4 text-center"><span>{{item.mils}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4 text-center"><span>2 Extras</span></div>
                                        <div class="col-4 text-center"><span>5 Pics</span></div>
                                        <div class="col-4 text-center"><span>{{item.carName}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ngu-tile>
                </ngu-carousel>
            </div>
        </div>
        <!-- End Main Type -->
        <!-- Details -->
        <div class="row w-100 mx-0 details">
            <div class="row m-0 detail-list w-100">
                <div class="col-lg-3 col-md-6 detail-cell">
                    <div class="card">
                        <div class="row m-0 mc-relative img-view">
                            <img class="card-img-top" src={{carsInfo[0].demoImg}} alt="Card image">
                            <div class="px-3 py-1 text-center price-label">{{carsInfo[0].price}}</div>
                            <div class="row pics-header">
                                <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                    alt="Slider Mark Play">
                                <div class="interbar"></div>
                                <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                <span class="mb-0">&nbsp;0/5</span>
                            </div>
                        </div>
                        <div class="card-header text-center" style="height: 150px">
                            {{carsInfo[0].description}}
                        </div>
                        <div class="card-footer row m-0">
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-car"></em>{{carsInfo[0].make}}</div>
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-clipboard-list"></em>{{carsInfo[0].model}}</div>
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-ruler-vertical"></em>{{carsInfo[0].mils}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 detail-cell">
                    <div class="card">
                        <div class="row m-0 mc-relative img-view">
                            <img class="card-img-top" src={{carsInfo[1].demoImg}} alt="Card image">
                            <div class="px-3 py-1 text-center price-label">{{carsInfo[1].price}}</div>
                            <div class="row pics-header">
                                <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                    alt="Slider Mark Play">
                                <div class="interbar"></div>
                                <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                <span class="mb-0">&nbsp;0/5</span>
                            </div>
                        </div>
                        <div class="card-header text-center" style="height: 150px">
                            {{carsInfo[1].description}}
                        </div>
                        <div class="card-footer row m-0">
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-car"></em>{{carsInfo[1].make}}</div>
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-clipboard-list"></em>{{carsInfo[1].model}}</div>
                            <div class="col-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-ruler-vertical"></em>{{carsInfo[1].mils}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-lg-block d-none detail-cell">
                    <div class="card mb-0">
                        <div class="row m-0 mc-relative img-view">
                            <img class="card-img-top" src={{carsInfo[2].demoImg}} alt="Card image">
                            <div class="px-3 py-1 text-center price-label">{{carsInfo[2].price}}</div>
                            <div class="row pics-header">
                                <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                    alt="Slider Mark Play">
                                <div class="interbar"></div>
                                <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                <span class="mb-0">&nbsp;0/5</span>
                            </div>
                        </div>
                        <div class="card-header text-center" style="height: 150px">
                            {{carsInfo[2].description}}
                        </div>
                        <div class="card-footer row m-0">
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-car"></em>{{carsInfo[2].make}}</div>
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-clipboard-list"></em>{{carsInfo[2].model}}</div>
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-ruler-vertical"></em>{{carsInfo[2].mils}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-lg-block d-none detail-cell">
                    <div class="card mb-0">
                        <div class="row m-0 mc-relative img-view">
                            <img class="card-img-top" src={{carsInfo[3].demoImg}} alt="Card image">
                            <div class="px-3 py-1 text-center price-label">{{carsInfo[3].price}}</div>
                            <div class="row pics-header">
                                <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                    alt="Slider Mark Play">
                                <div class="interbar"></div>
                                <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                <span class="mb-0">&nbsp;0/5</span>
                            </div>
                        </div>
                        <div class="card-header text-center" style="height: 150px">
                            {{carsInfo[3].description}}
                        </div>
                        <div class="card-footer row m-0">
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-car"></em>{{carsInfo[3].make}}</div>
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-clipboard-list"></em>{{carsInfo[3].model}}</div>
                            <div class="col-md-4 px-0 text-center"><em
                                    class="fa-2x mr-2 fas fa-ruler-vertical"></em>{{carsInfo[3].mils}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Details -->
        <!-- List -->
        <div class="row w-100 mx-0 mb-3 lists">
            <div class="col-lg-9">
                <div class="row h-100">
                    <div class="col-lg-4 mb-3">
                        <div class="card w-100 h-100 p-4">
                            <div class="card-header mc-border-b pt-4 pb-1 px-0">
                                <label><strong>Highest</strong>&nbsp;<span>Dealer</span></label>
                            </div>
                            <div class="row bg-white p-2 m-0"></div>
                            <div class="row m-0 mc-relative">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                            </div>
                            <div class="card-body px-0">
                                <p><strong>Lorem ipsum</strong></p>
                                <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                    hendrerit
                                    sagittis urna.</p>
                            </div>
                            <div class="card-footer row mc-border-0 bg-white px-0 m-0">
                                <button class="btn btn-danger">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="card w-100 h-100 p-4">
                            <div class="card-header mc-border-b pt-4 pb-1 px-0">
                                <label><strong>Most</strong>&nbsp;<span>Viewed Cars</span></label>
                            </div>
                            <div class="row bg-white p-2 m-0"></div>
                            <div class="row m-0 mc-relative">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                                <div class="row pics-header">
                                    <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                    <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                        alt="Slider Mark Play">
                                    <div class="interbar"></div>
                                    <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                    <span class="mb-0">&nbsp;0/5</span>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <p><strong>Lorem ipsum</strong></p>
                                <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                    hendrerit
                                    sagittis urna.</p>
                            </div>
                            <div class="card-footer row mc-border-0 bg-white px-0 m-0">
                                <button class="btn btn-danger">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="card w-100 h-100 p-4">
                            <div class="card-header mc-border-b pt-4 pb-1 px-0">
                                <label><strong>Newest</strong>&nbsp;<span>Cars</span></label>
                            </div>
                            <div class="row bg-white p-2 m-0"></div>
                            <div class="row m-0 mc-relative">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                                <div class="row pics-header">
                                    <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                    <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                        alt="Slider Mark Play">
                                    <div class="interbar"></div>
                                    <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                    <span class="mb-0">&nbsp;0/5</span>
                                </div>
                            </div>
                            <div class="card-body px-0">
                                <p><strong>Lorem ipsum</strong></p>
                                <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                    hendrerit
                                    sagittis urna.</p>
                            </div>
                            <div class="card-footer row mc-border-0 bg-white px-0 m-0">
                                <button class="btn btn-danger">View more</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-3 tab-list">
                        <div class="card card-transparent h-100">
                            <tabset class="bg-white p-0 h-100" justified="true">
                                <!-- Dealers -->
                                <tab>
                                    <ng-template tabHeading class="dealer-tab-header">
                                        Dealers
                                    </ng-template>
                                    <div class="p-3 m-0">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Found 433 dealers</h4>
                                            <a href="#" class="show-all">Show All</a>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 text-center delar-list">
                                                <div class="row m-0 mc-relative">
                                                    <img class="w-100 mb-2" src="assets/img/home/main-card.png"
                                                        alt="Card image">
                                                    <div class="row pics-header">
                                                        <img class="slide-stop" src="assets/img/icons/slide-mark-1.png"
                                                            alt="Slider Mark 1">
                                                        <img class="slide-start"
                                                            src="assets/img/icons/slide-mark-play.png"
                                                            alt="Slider Mark Play">
                                                        <div class="interbar"></div>
                                                        <img src="assets/img/icons/slide-mark-camera.png"
                                                            alt="Slider Mark camera">
                                                        <span class="mb-0">&nbsp;0/5</span>
                                                    </div>
                                                </div>
                                                <h4>Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                                    hendrerit
                                                    sagittis urna.</h4>
                                            </div>
                                            <div class="col-md-4 text-center delar-list">
                                                <div class="row m-0 mc-relative">
                                                    <img class="w-100 mb-2" src="assets/img/home/main-card.png"
                                                        alt="Card image">
                                                    <div class="row pics-header">
                                                        <img class="slide-stop" src="assets/img/icons/slide-mark-1.png"
                                                            alt="Slider Mark 1">
                                                        <img class="slide-start"
                                                            src="assets/img/icons/slide-mark-play.png"
                                                            alt="Slider Mark Play">
                                                        <div class="interbar"></div>
                                                        <img src="assets/img/icons/slide-mark-camera.png"
                                                            alt="Slider Mark camera">
                                                        <span class="mb-0">&nbsp;0/5</span>
                                                    </div>
                                                </div>
                                                <h4>Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                                    hendrerit
                                                    sagittis urna.</h4>
                                            </div>
                                            <div class="col-md-4 text-center delar-list">
                                                <div class="row m-0 mc-relative">
                                                    <img class="w-100 mb-2" src="assets/img/home/main-card.png"
                                                        alt="Card image">
                                                    <div class="row pics-header">
                                                        <img class="slide-stop" src="assets/img/icons/slide-mark-1.png"
                                                            alt="Slider Mark 1">
                                                        <img class="slide-start"
                                                            src="assets/img/icons/slide-mark-play.png"
                                                            alt="Slider Mark Play">
                                                        <div class="interbar"></div>
                                                        <img src="assets/img/icons/slide-mark-camera.png"
                                                            alt="Slider Mark camera">
                                                        <span class="mb-0">&nbsp;0/5</span>
                                                    </div>
                                                </div>
                                                <h4>Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                                    hendrerit
                                                    sagittis urna.</h4>
                                            </div>
                                        </div>
                                    </div>
                                </tab> <!-- End Dealers -->
                                <!-- Service Station -->
                                <tab>
                                    <ng-template tabHeading class="dealer-tab-header">
                                        Service Station
                                    </ng-template>
                                    <div class="p-3">
                                        Service Station
                                    </div>
                                </tab> <!-- End Service Station -->
                                <!-- Insurance -->
                                <tab>
                                    <ng-template tabHeading class="dealer-tab-header">
                                        Insurance
                                    </ng-template>
                                    <div class="p-3">
                                        Insurance
                                    </div>
                                </tab> <!-- End Insurance -->
                            </tabset>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <div class="card w-100 h-100 p-4">
                            <div class="card-header mc-border-b pt-4 pb-1 px-0">
                                <label><strong>Video</strong>&nbsp;<span>Review</span></label>
                            </div>
                            <div class="card-body px-0">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                                <!-- <video id="my_video_1" class="video-js vjs-default-skin" width="100%" controls preload="none"
                    poster='http://video-js.zencoder.com/oceans-clip.jpg'
                    data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
                    <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
                  </video> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="card w-100 p-4 h-100">
                    <div class="card-header mc-border-b pt-4 pb-1 px-0">
                        <label><strong>Auto</strong>&nbsp;<span>News</span></label>
                    </div>
                    <div class="row bg-white p-2 m-0"></div>
                    <div class="row m-0 mc-relative">
                        <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                    </div>
                    <div class="card-body px-0">
                        <p><strong>Lorem ipsum</strong></p>
                        <p class="date">Novemeber 1, 2012</p>
                        <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                            hendrerit
                            sagittis urna.</p>
                    </div>
                    <div class="card-footer row bg-white p-2 m-0"></div>
                    <div class="row m-0 mc-relative">
                        <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image">
                    </div>
                    <div class="card-body px-0">
                        <p><strong>Lorem ipsum</strong></p>
                        <p class="date">Novemeber 1, 2012</p>
                        <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                            hendrerit
                            sagittis urna.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End List -->
    </div>

    <!-- Footer -->
    <div class="row footer justify-content-center">
        <div class="row w-100 text-center footer-content">
            <div class="col-lg-9">
                <div class="row w-100 mb-5">
                    <div class="col-md-4 text-md-left text-center mb-4">
                        <h3 class="mb-4">Info</h3>
                        <p class="mb-1"><a href="#">Privacy Policy</a></p>
                        <p class="mb-1"><a href="#">Terms and conditions</a></p>
                    </div>
                    <div class="col-md-4 text-md-left text-center mb-4">
                        <h3 class="mb-4">Navigation</h3>
                        <p class="mb-1"><a href="/">Home</a></p>
                    </div>
                    <div class="col-md-4 text-md-left text-center mb-4">
                        <h3 class="mb-4">Resources</h3>
                        <p class="mb-1"><a href="#">Pricing</a></p>
                        <p class="mb-1"><a href="#">Articles</a></p>
                        <p class="mb-1"><a href="#">Contact Form</a></p>
                    </div>
                </div>
                <div class="row w-100 m-0 justify-content-md-start justify-content-center">
                    <div class="row m-0">
                        <p>@{{settings.getAppSetting('year')}} MortoCar Ltd. All right reserved. Terms and conditions
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-lg-block d-none my-auto">
                <div class="row">
                    <img src="assets/img/home/footer-mark.png" alt="Footer Mark" class="footer-mark">
                </div>
            </div>
        </div>
    </div>
</div>