@import "../../../shared/styles/bootstrap/_functions.scss";
@import "../../../shared/styles/bootstrap/_variables.scss";
@import "../../../shared/styles/bootstrap/_mixins";
@import "../../../shared/styles/app/variables.scss";

.main-container {
    .main-banner {
        font-size: 1.1rem;

        .main-board {
            .board-info {
                background-color: #171e27;

                .detail-info {
                    color: #8492a3;
                }
            }

            img {
                margin-left: auto;
                margin-right: auto;
                height: 28rem !important;
            }
        }

        .location-address {
            text-overflow: ellipsis;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
        }

        .main-price {
            text-align: center;
            color: #fece0e;
        }

        .cars-number {
            color: #ffd700;
            font-size: 1.2em;
            margin: 0 0.6em 0 0;
            padding: 0.3em;

            p {
                margin-top: 0.3rem;
                margin-bottom: 0;
            }
        }

        .car-type {
            border: 2px solid #cccccc;
            border-radius: 3px;
            padding: 3px;
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 0.25em;

            img {
                margin-top: 3px;
                width: 100%;
                height: auto;
                cursor: pointer;
            }

            &.selected {
                border: 2px solid #ff0000;
            }
        }

        select,
        select option {
            font-size: 0.9em;
        }

        .checkbox label {
            font-size: 0.8em;
        }

        .main-footer {
            font-size: 0.8em;

            a {
                margin-left: auto;
                margin-right: 0;
                color: #ff0000;
            }
        }

        .charge-type {
            border-radius: 2em;
            background-color: #cccccc;

            .cash,
            .finance {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                text-align: center;
                cursor: pointer;

                border-radius: 2em;
                border: 2px solid #cccccc;

                &.selected {
                    border-color: #06a09d;
                    background-color: #ffffff;
                }
            }
        }

        .find-dealer,
        .search-all {
            max-width: 20em;
            height: 100%;
            padding: 0.5em;

            p {
                font-size: 1.1em;
                margin-bottom: 0;
            }
        }
    }

    .main-type {
        font-size: 1.1rem;
    }

    .details {
        .detail-list {
            .detail-cell {
                .img-view {
                    font-size: 1.5em;
                }
                .card-img-top {
                    height: 13em;
                    max-width: 100%;
                }
            }
        }
    }

    .lists {
        font-size: 1.5em;

        .card-header {
            font-size: 1.2em;
        }

        .card-body {
            .descripton {
                font-size: 0.9em;
            }

            .date {
                font-size: 0.8em;
                margin-top: 1em;
                margin-left: 1.5em;
            }
        }

        .card-footer {
            button {
                font-size: 0.9em;
                padding-bottom: 1.8em;
            }
        }

        .tab-list {
            font-size: 1em;

            a.show-all {
                font-size: 0.8em;
                cursor: pointer;
                text-decoration: underline;
                color: blue;
            }

            .delar-list {
                img {
                    width: 100%;
                    height: 150px;
                }
            }

            .tab-content {
                border: none;
            }
        }
    }

    .price-label {
        position: absolute;
        top: 0em;
        left: 0em;
        border-radius: 0px;
        color: orange;
        background-color: #ffffff;
        font-size: 0.7em;
    }

    .slide-header {
        position: absolute;
        top: 0em;
        right: 0em;
        margin: 0;
        padding: 0.5em;
        border-radius: 0px;
        background-color: #000000aa;
        color: #ffffff;

        z-index: 100;

        height: 2.5em;

        img {
            height: 100%;
            width: auto;
            margin: 0 0.2em;

            &.slide-stop,
            &.slide-start {
                cursor: pointer;
            }
        }

        .interbar {
            border-right: 1px solid #ffffffaa;
            padding: 0.1em 0.1em;
            margin: 0.1em 0.5em;
        }
    }

    .pics-header {
        position: absolute;
        top: 0;
        right: 0px;
        margin: 0em;
        font-size: 0.8em;
        padding: 0.25em;
        border-radius: 0px;
        background-color: #000000aa;
        color: #ffffff;

        z-index: 100;
        height: 1.5em;

        img {
            height: 100% !important;
            width: auto !important;
            margin: 0 0.2em;

            &.slide-stop,
            &.slide-start {
                cursor: pointer;
            }
        }

        .interbar {
            border-right: 1px solid #ffffffaa;
            padding: 0.1em 0.1em 0.1em 0;
            margin: 0.1em 0.1em 0.1em 0;
        }
    }
}
