/* ========================================================================
     Component: buttons
 ========================================================================== */


 .btn {
    //font-size: 11px;
    padding: 4px 8px;
    height: 28px;
    border-radius: 3px;
}

.fa-icon-btn {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

//----Contained buttons------

// used for save and edit

.btn.btn-primary,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:visited,
.btn.btn-save,
.btn.btn-save:focus,
.btn.btn-save:active,
.btn.btn-save:visited,
.btn.btn-edit,
.btn.btn-edit:focus,
.btn.btn-edit:active,
.btn.btn-edit:visited {
    color: #ffffff;
    background-color: #6441A5;
}

.btn.btn-primary:hover
.btn.btn-save:hover,
.btn.btn-edit:hover {
    color: #ffffff;
    background-color: #9178C0;
}


.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:active:active,
.btn-primary:active:visited {
    color: #ffffff;
    background-color: #6441A5;
    border-color: #6441A5;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #9178C0;
    border-color: #9178C0;
}
//----Outlined buttons------

// used for cancel and delete

.btn-outline-primary  {
    color: #6441A5;
    border-color: #6441A5;
}

.btn-outline-primary:hover  {
    color: #6441A5;
    background-color: #6441A538;
}

.btn-outline-cancel,
.btn-outline-cancel:focus,
.btn-outline-cancel:active,
.btn-outline-cancel:visited  {
    color: #FF8A65;
    border-color: #FF8A65;
}

.btn-outline-cancel:hover  {
    color: #FF8A65;
    background-color: #FF8A6538;
}

.btn-outline-delete,
.btn-outline-delete:focus,
.btn-outline-delete:active,
.btn-outline-delete:visited  {
    color: #D72E43;
    border-color: #D72E43;
}

.btn-outline-delete:hover  {
    color: #D72E43;
    background-color: #D72E4338;
}

.btn-outline-top,
.btn-outline-top:focus,
.btn-outline-top:hover,
.btn-outline-top:visited,
.btn-outline-top:active,
.btn-outline-top:hover {
    color: #ffffff;
    background-color: #8851ED;
}

// ----Text buttons------

.btn-txt-primary {
    color: #6441A5;
  //  padding: 8px;
    text-transform: uppercase;
    &:hover, &:focus, &:active, &:visited {
        color: #4666F2;
    }
    &:disabled {
        color: rgba(red(#6441A5), green(#6441A5), blue(#6441A5), 0.38);
        &:hover, &:focus, &:active, &:visited {
            color: rgba(red(#6441A5), green(#6441A5), blue(#6441A5), 0.38);
        }
    }
}

.btn-txt-disabled {
    color:rgba(0, 0, 0, 0.38);
  //  padding: 8px;
    text-transform: uppercase;
    &:hover, &:focus, &:active, &:visited {
        color:rgba(0, 0, 0, 0.38);
    }
}

.btn-txt-new {
    color: #00a7e6;
    padding: 8px;
    text-transform: uppercase;
    &:hover, &:focus, &:active, &:visited {
        color: #00a7e6;
    }
    &:disabled {
        color: rgba(red(#00a7e6), green(#00a7e6), blue(#00a7e6), 0.38);
        &:hover, &:focus, &:active, &:visited {
            color: rgba(red(#00a7e6), green(#00a7e6), blue(#00a7e6), 0.38);
        }
    }
}

.btn-txt-cancel {
    color: #FF8A65;
    padding: 8px;
    text-transform: uppercase;
    &:hover, &:focus, &:active, &:visited {
        color: #EE5E31;
    }
}

.btn-txt-delete {
    color: #D72E43;
    padding: 8px;
    text-transform: uppercase;
    &:hover, &:focus, &:active, &:visited {
        color: #D72E43;
    }
}