.d-flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.mc-flex-column {
    flex-direction: column!important;
    -moz-box-orient: vertical!important;
    -moz-box-direction: normal!important;
    -ms-flex-direction: column!important;
}

.mc-flex-nowrap {
    flex-wrap: nowrap!important;
}

.mc-flex-wrap {
    flex-wrap: wrap!important;
}

.mc-relative {
    position: relative!important;
}

.mc-full-height {
    height: 100%!important;
}

.mc-full-width {
    width: 100%!important;
}

.mc-height-auto {
    height: auto;
}

.mc-max-width-0 {
    max-width: 0;
}

.mc-max-width-full {
    max-width: 100%;
}

.mc-flex-shrink-0 {
    flex-shrink: 0!important;
}

.mc-flex-shrink-1 {
    flex-shrink: 1!important;
}

.mc-flex-grow-1 {
    flex-grow: 1!important;
}

.mc-flex-grow-0 {
    flex-grow: 0!important;
}

.mc-flex-center {
    justify-content: center;
    align-items: center;
}
.mc-align-center {
    display: flex;
    align-items: center;
}
.mc-justify-center {
    justify-content: center !important;
    display: flex !important;
}
.mc-absolute {
    position: absolute!important;
}
.mc-position-unset {
    position: unset !important;
}

.mc-overflow-hidden {
    overflow:hidden!important;
}
.mc-border {
    border: 1px solid #CFC5E450;
}
.mc-border-l {
    border-left: 1px solid #CFC5E450;
}
.mc-border-r {
    border-right: 1px solid #CFC5E450;
}
.mc-border-b {
    border-bottom: 1px solid #CFC5E450 !important;
}
.mc-border-t {
    border-top: 1px solid #CFC5E450;
}
.mc-border-l-0 {
    border-left: 0px;
}
.mc-border-r-0 {
    border-right: 0px;
}
.mc-border-t-0 {
    border-top: 0px;
}
.mc-border-b-0 {
    border-bottom: 0px;
}
.mc-dash-border {
  border: 1px dashed #CFC5E480;
}
.mc-dash-border-l {
    border-left: 1px dashed #CFC5E480;
}
.mc-dash-border-r {
    border-right: 1px dashed #CFC5E480;
}
.mc-dash-border-b {
    border-bottom: 1px dashed #CFC5E480;
}
.mc-dash-border-t {
    border-top: 1px dashed #CFC5E480;
}
.mc-border-0 {
    border: 0px ;
}
.mc-border-radius-0 {
    border-radius: 0px;
}
.mc-border-radius-3 {
    border-radius: 3px;
}
.mc-border-radius-4 {
    border-radius: 4px !important;
}
.mc-border-radius-10 {
    border-radius: 10px;
}
.mc-block {
    display: block!important;
}
.mc-hide {
    display: none!important;
}

.mc-inline-block {
    display: inline-block!important;
}

.mc-display-cell {
    display: table-cell;
}

.mc-display-inline-flex {
    display: inline-flex;
}

.mc-overflow-y {
    overflow-y: auto;
}

.mc-overflow-x-hidden {
    overflow-x: hidden;
}

.mc-line-heigth-3 {
    line-height: 3;
}

.mc-line-heigth-16px {
    line-height: 16px;
}

.mc-line-heigth-12px {
    line-height: 12px;
}

.mc-overflow-hidden {
    overflow: hidden;
}

.mc-vertical-middle {
    vertical-align: middle;
}

.mc-vertical-bottom {
    vertical-align: bottom;
}

.mc-vertical-align-sub {
    vertical-align: sub;
}

.mc-right0 {
    right: 0;
}

.mc-cursor-not-allowed {
    cursor: not-allowed!important;
}

.mc-cursor-auto {
    cursor: auto;
}

.mc-cursor-default {
    cursor: default;
}

.mc-align-item-center {
    align-items: center;
}
.mc-align-self-center {
    align-self : center;
}

.mc-vertical-align-top {
    vertical-align: top !important;
}

.mc-fill-width {
    width: -webkit-fill-available;
}

.mc-half-width {
    width: 50%;
}
.mc-half-min-width {
    min-width: 50%;
}

.mc-width-25pro {
    width: 25%;
}

.mc-min-width-25pro {
    min-width: 25%;
}

.mc-border-radius-0 {
    border-radius: 0px !important;
}
.mc-boxshadow-unset {
    box-shadow: unset !important;
}

.mc-max-height-80vh {
    max-height: 80vh;
}

.mc-overflow-unset {
    overflow: unset !important;
}

.mc-overflow-visible {
    overflow: visible !important;
}

.mc-margin-left-auto {
    margin-left: auto;
}

.mc-margin-right-auto {
    margin-right: auto;
}

.mc-margin-auto {
    margin: auto;
}

.mc-margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mc-top-0 {
    top: 0px;
}
.mc-left-0 {
    left: 0px;
}

.mc-right-0 {
    right: 0px;
}

.mc-top-50pro {
    top:50%;
}
.mc-transformY-50pro {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mc-zindex-unset {
    z-index: unset !important;
}

.mc-zindex-120 {
    z-index:120;
}

.mc-zindex-high {
    z-index: 999 !important;
}

.mc-webkit-vertical-middle {
    vertical-align: -webkit-baseline-middle !important;
}

.mc-right-bottom {
    bottom: 0;
    right: 0;
}

.mc-break-all {
    word-break: break-all;
}

.mc-break-word {
    word-break: break-word;
}

.mc-white-space-normal {
    white-space: normal;
}

.mc-text-center {
    text-align: center;
}

.mc-white-space-nowrap {
    white-space: nowrap;
}

.mc-fit-content {
  height: fit-content;
}
.mc-flex-1 {
    flex: 1;
}
.mc-vertical-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mc-cursor-pointer {
    cursor: pointer;
}