.main-container {
    margin: 50px auto 0px auto;
    padding: 2em 3em 0 3em;
    max-width: 1360px;
}

// START: layout fix part
.section-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: calc(100% - 60px);
}

.wrapper .aside-container .aside-inner {
    padding: 10px 0px;
    border: solid 1px #cccccc;
}

.layout-fixed .wrapper .aside-container {
    height: unset !important;
    min-height: unset !important;
}

.sidebar-container {
    position: unset !important;
}

.hidden-btn {
    display: block;
}
// END: layout fix

.topnavbar .navbar-header .navbar-brand {
    width: fit-content !important;
}

.topnavbar .navbar-nav > .nav-item > .nav-link.active,
.topnavbar .navbar-nav > .nav-item > .nav-link.active,
.topnavbar .navbar-nav > .nav-item.show > .nav-link.active,
.topnavbar .navbar-nav > .nav-item.show > .nav-link.active {
    color: #ffa500 !important;
}

.topnavbar .navbar-nav > .nav-item > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
    color: #ffa500 !important;
}

.sidebar-hidden {
    .aside-container {
        margin-left: -240px;
    }
    .section-container {
        margin-left: 0;
    }
}
.aside-container {
    margin-top: 0px;
}

.rightside-hidden {
    .right-sidebar {
        display: none;
    }
}

.thumb-circle {
    border-radius: 50%;
}

.section-container {
    margin-right: 60px;
}

.nav-link {
    cursor: pointer;
}

/*
  <div class="row align-items-stretch">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  All the "col"'s heigts are the same.
*/
.row.align-items-stretch {
    display: flex;
    flex-wrap: wrap;
}
.row.align-items-stretch > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand.
* Use a preprocesser with autoprefixing.
*/
.row.align-items-stretch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.align-items-stretch > [class*="col-"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*
* Customize Select Form
*/
select.custom-select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 1px), calc(100% - 15px) calc(1em + 1px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.custom-select:focus {
    background-image: linear-gradient(45deg, black 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, black 50%);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

// image card
.card-flex {
    display: flex;
}
.card-cell-left {
    width: 350px;
    float: left;
}
.card-cell-body {
    width: calc(100% - 350px);
    margin-left: auto;
}
// continue in media file

.main-img {
    position: relative;
    .price {
        position: absolute;
        padding: 10px;
        right: 0;
        top: 0;
        background: #ffffff;
        border: solid 1px #cccccc;
        span {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.car-brand {
    border: solid 1px #cccccc;
    padding: 10px;
    span {
        font-size: 24px;
        font-weight: 700;
    }
}
// continue in media

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeInLeft {
    -webkit-animation-name: zoomInLeft 0.5s;
    animation-name: zoomInLeft 0.5s;
}

// Tabset Customizing
.tab-list {
    .nav-item {
        display: flex;
    }
    .nav-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tab-content {
        border: none;
    }
}

// footer style

.footer {
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
    margin-left: 0;
    width: 100vw !important;
    padding: 3rem 5rem;

    font-size: 1rem;
    color: #ffffff;

    .footer-content {
        max-width: 1300px;
        a {
            color: #ffffff;
        }

        .footer-mark {
            width: 80px;
        }
    }
}

@media (max-width: 768px) {
    .tab-pane {
        img {
            height: auto !important;
            width: 100% !important;
        }
    }
    .footer {
        margin-left: -15px;
    }
}

// multi select style
.multiselect-dropdown .dropdown-btn {
    padding: 3px 5px !important;
    border-radius: 4px !important;
}
.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #34495e !important;
    background: #34495e !important;
}
.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
    background: #34495e !important;
}
.multiselect-item-checkbox input[type="checkbox"] + div:before {
    color: #34495e !important;
    border: 2px solid #34495e !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up {
    border-bottom: 5px solid #adadad !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
}

.rel-left {
    display: flex;
    align-items: center;
    float: left;
    padding-right: 8px;
    width: 50px;
}
.rel-right {
    width: calc(100% - 50px);
}

// Rating Customizing
.car-overview .car-level {
    rating {
        span {
            font-size: 1.4em !important;
            &.active {
                color: gold;
            }
        }
    }
}

.car-view .car-level {
    rating {
        span {
            font-size: 1.2em !important;
            &.active {
                color: gold;
            }
        }
    }
}

// slider background color and color change
.slider .bar div.filler > span {
    background: #34495e !important;
}
.slider .bar > span.left-handle,
.slider .bar > span.right-handle {
    background: #8b9eb1 !important;
    border: solid 4px #34495e !important;
}
.slider .bar div.filler {
    border: solid 1px #8b9eb1 !important;
}
.slider .bar > span.left-handle .handle-tooltip,
.slider .bar > span.right-handle .handle-tooltip {
    border: 1px solid #34495e !important;
    background: #8b9eb1 !important;
    color: #34495e !important;
}

.slider .bar > span.left-handle .handle-tooltip:before,
.slider .bar > span.right-handle .handle-tooltip:before {
    border-top-color: #34495e !important;
}
.slider .bar > span.left-handle .handle-tooltip:after,
.slider .bar > span.right-handle .handle-tooltip:after {
    border-top-color: #8b9eb1 !important;
}

// Scrollbar customizing
*::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #ffffff55;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color: #ebebeb;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #34495eaa;
}

// Carousel Settings
.tile {
    -webkit-box-shadow: none !important;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    opacity: 0;
    border-radius: 999px;
    border-color: rgba(0, 0, 0, 0);
    left: 0;
    cursor: pointer;
    background-color: transparent;
    color: #cccccc;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    // box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    opacity: 0;
    border-radius: 999px;
    border-color: rgba(0, 0, 0, 0);
    right: 0;
    cursor: pointer;
    background-color: transparent;
    color: #cccccc;
}
