body,
.body1-text,
.body1 {
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 18px;
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
    letter-spacing: 0em;
    line-height: 2 4px;
}

h2 {
    font-size: 30px;
    letter-spacing: 0em;
    //line-height: 90px;
}

h3 {
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 16px;
}

h4 {
    font-size: 14px;
    letter-spacing: 0em;
    line-height: 21px;
}

h5 {
    font-size: 13px;
    letter-spacing: 0em;
    line-height: 19px;
}

h6 {
    font-size: 12px;
    letter-spacing: 0em;
    line-height: 16px;
}

.caption-text {
    font-size: 10px;
    letter-spacing: 0em;
    line-height: 15px;
}

.caption {
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 16px;
}

.post-content-text {
    font-size: 100%;
    font-weight: 300;
}
.fs4 {
    font-size: 4px;
}
.fs8 {
    font-size: 8px;
}
.fs9 {
    font-size: 9px;
}
.fs10 {
    font-size: 10px;
}
.fs11 {
    font-size: 11px;
}
.fs12 {
    font-size: 12px !important;
}
.fs13 {
    font-size: 13px !important;
}
.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
.fs24 {
    font-size: 24px;
}
.fs28 {
    font-size: 28px;
}
.fs32 {
    font-size: 32px;
}
.fs36 {
    font-size: 36px;
}
.fs64 {
    font-size: 64px;
}
.fs80 {
    font-size: 80px;
}
.homebullets-large {
    font-size: 250%;
    font-weight: 300;
    line-height: 120%;
}
.homebullets-large-stress {
    font-size: 276%;
    font-weight: 400;
    line-height: 120%;
}
.homebullets {
    font-size: 150%;
    font-weight: 500;
}
.homebullets-stress {
    font-size: 150%;
    font-weight: 300;
}
.homebullets-small {
    font-size: 100%;
    font-weight: 300;
}
.homebullets-small-stress {
    font-size: 100%;
    font-weight: 500;
}
.label-text-xs {
    font-size: 80%;
    font-weight: 500;
}
.label-text-sm {
    font-size: 100%;
    font-weight: 500;
}
.label-text-sm-stress {
    font-size: 100%;
    font-weight: 900;
}
.label-text-md {
    font-size: 120%;
}
.label-text-lg {
    font-size: 150%;
}
.note-text-sm {
    font-size: 80%;
    font-weight: 500;
}
.note-text-sm-stress {
    font-size: 80%;
    font-weight: 900;
}
.bold-strong {
    font-weight: 900;
}
.bold-medium {
    font-weight: 500;
}
.bold-weak {
    font-weight: 300;
}
.btn-strong {
    font-weight: 900;
    border-width: 2px;
}
.fa-2x {
    font-size: 1.2em;
}

.font-weight-bold {
    font-weight: bold !important;
}

.placeholder {
    font-size: 12px;
    letter-spacing: 0.05px;
    line-height: 16px;
}

.contained-button {
    font-size: 12px;
    letter-spacing: 0.05px;
    line-height: 16px;
}

.text-button {
    font-size: 11px;
    letter-spacing: 0.05px;
    line-height: 16px;
}

.overline {
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;
}

.number-style {
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 15px;
}

.recurring-style {
    font-size: 10px;
    letter-spacing: 0.05px;
    line-height: 16px;
}

.title-style {
    font-size: 16px;
    letter-spacing: 0.05px;
    line-height: 20px;
}

.nav-title {
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 16px;
}

.start-nav-title {
    font-size: 14px;
    letter-spacing: 0.05px;
    line-height: 16px;
}

.text-blue {
  color: #3467b8 !important;
}
