@media (max-width: 1140px) {
    .card-cell-left {
        width: 300px;
        float: left;
    }
    .card-cell-body {
        width: calc(100% - 300px);
        margin-left: auto;
    }
    .car-brand {
        padding: 5px;
        span{
            font-size: 20px;
        }
    }
    .hidden-btn {
        display: block;
    }
    .aside-container {
      margin-top: 0px;
    }
}
@media (max-width: 960px) {
    .card-cell-left {
        width: 250px;
        float: left;
    }
    .card-cell-body {
        width: calc(100% - 250px);
        margin-left: auto;
    }
    .car-brand {
        padding: 5px;
        span{
            font-size: 16px;
        }
    }
    .hidden-btn {
        display: block;
    }
    .aside-container {
      margin-top: 0px;
    }
}
@media (max-width: 822px) {
    .card-cell-left {
        width: 200px;
        float: left;
    }
    .card-cell-body {
        width: calc(100% - 200px);
        margin-left: auto;
    }
    .card-flex {
        display: block;
    }
    .hidden-btn {
        display: block;
    }
    .aside-container {
      margin-top: 0px;
    }
}
@media (max-width: 768px) {
    .card-cell-left {
        width: 250px;
        float: left;
    }
    .card-cell-body {
        width: calc(100% - 250px);
        margin-left: auto;
    }
    .sidebar-container {
        position: fixed !important;
    }
    .aside-container {
        margin-left: -240px;
        margin-top: 55px;
    }
    .sidebar-hidden {
        .aside-container {
          margin-left: 0px;
        }
    }
    .hidden-btn {
        display: none;
    }
}
@media (max-width: 576px) {
    .card-cell-left {
        width: 100%;
        float: unset;
    }
    .card-cell-body {
        width: 100%;
        margin-left: unset;
    }
    .sidebar-container {
        position: fixed !important;
    }
    .aside-container {
        margin-left: -240px;
        margin-top: 55px;
    }
    .sidebar-hidden {
        .aside-container {
          margin-left: 0px;
        }
    }
    .hidden-btn {
        display: none;
    }
}
