
/* padding */
.p0 {
    padding: 0px;
}
.px0 {
    padding-left: 0px;
    padding-right: 0px;
}
.py0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.p-8 { padding: 8px; }
.p-16 { padding: 16px; }

.px-4 { padding-left: 4px; padding-right: 4px; }
.px-8 { padding-left: 8px; padding-right: 8px; }
.px-16 { padding-left: 16px; padding-right: 16px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.px-32 { padding-left: 32px; padding-right: 32px; }

.py-16 { padding-top: 16px; padding-bottom: 16px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-100 { padding-top: 100px; padding-bottom: 100px; }

.pl-0 { padding-left: 0px ; }
.pr-0 { padding-right: 0px; }
.pt-0 { padding-top: 0px; }
.pb-0 { padding-bottom: 0px; }

.pl-2 { padding-left: 2px; }
.pl-4 { padding-left: 4px; }
.pl-8 { padding-left: 8px; }
.pl-16 { padding-left: 16px; }

.pr-2 { padding-right: 2px; }
.pr-4 { padding-right: 4px; }
.pr-8 { padding-right: 8px; }
.pr-16 { padding-right: 16px; }

.pt-2 { padding-top: 2px; }
.pt-4 { padding-top: 4px; }
.pt-8 { padding-top: 8px; }
.pt-16 { padding-top: 16px; }
.pt-24 { padding-top: 24px; }
.pt-32 { padding-top: 32px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-100 { padding-top: 100px; }

.pb-2 { padding-bottom: 2px; }
.pb-4 { padding-bottom: 4px; }
.pb-8 { padding-bottom: 8px; }
.pb-16 { padding-bottom: 16px; }
.pb-24 { padding-bottom: 24px; }
.pb-32 { padding-bottom: 32px; }
.pb-100 { padding-bottom: 100px; }

/* margin */
.m0 { margin: 0px; }

.ml-0 { margin-left: 0px; }
.mr-0 { margin-right: 0px; }
.mt-0 { margin-top: 0px; }
.mb-0 { margin-bottom: 0px; }

.my-8 { margin-top: 8px; margin-bottom: 8px; }
.my-16 { margin-top: 16px; margin-bottom: 16px; }
.mx-8 { margin-left: 8px; margin-right: 8px; }
.mx-16 { margin-left: 16px; margin-right: 16px; }

.ml-2 { margin-left: 2px; }
.ml-4 { margin-left: 4px; }
.ml-8 { margin-left: 8px; }
.ml-16 { margin-left: 16px; }

.ml-ng16 { margin-left: -16px; }

.mr-2 { margin-right: 2px; }
.mr-4 { margin-right: 4px; }
.mr-8 { margin-right: 8px; }

.mr-ng16 { margin-right: -16px; }

.mt-2 { margin-top: 2px; }
.mt-4 { margin-top: 4px; }
.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }
.mt-24 { margin-top: 24px; }

.mb-2 { margin-bottom: 2px; }
.mb-4 { margin-bottom: 4px; }
.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-24 { margin-bottom: 24px; }

/* width and height */
.w-100 { width: 100%; }
.w-80 { width: 80%; }
.w-50 { width: 50%; }
.w-30 { width: 30%; }
.w-20 { width: 20%; }
.w-10 { width: 10%; }
.h-100 { height: 100%; }


