<div class="wrapper">
    <div class="container-fluid">
        <div class="row m-0">
            <div class="col-lg-3 mb-3">
                Vehicles which belongs to a dealer
            </div>
            <div class="col-lg-9">
                <div class="inbox_msg">
                    <ng-template [ngIf]="connectsPeople && connectsPeople.length > 0" [ngIfElse]="nonPerson">
                        <div class="inbox_people">
                            <div class="headind_srch">
                                <div class="recent_heading">
                                    <h4>Connects</h4>
                                </div>
                                <div class="srch_bar">
                                    <div class="stylish-input-group">
                                        <input type="text" class="search-bar" placeholder="Search">
                                        <span class="input-group-addon">
                                            <button type="button"> <i class="fa fa-search"
                                                    aria-hidden="true"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="inbox_chat">
                                <div *ngFor="let people of connectsPeople; let idx = index;" class="chat_list"
                                    [class.active_chat]="people.id == selectedPerson.id" (click)="selectPerson(idx);">
                                    <div class="chat_people">
                                        <div class="chat_img">
                                            <img [src]="people.img" class="thumb-circle">
                                            <span [ngClass]="{'circle circle-lg text-left user-status': true,
                                                        'bg-success': people.status==='on',
                                                        'bg-warning': people.status==='off'}"></span>
                                        </div>
                                        <div class="chat_ib">
                                            <h5>{{people.name}}</h5>
                                            <span class="chat_date">{{people.lastDate}}</span>
                                            <p>{{people.lastMsg}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mesgs">
                            <div class="msg_history" #scrollMessageHistory id="style-2">
                                <ng-template [ngIf]="msgs && msgs.length > 0" [ngIfElse]="nonMsg">
                                    <ng-container *ngFor="let msg of msgs;">
                                        <div *ngIf="msg.received" class="incoming_msg">
                                            <div class="incoming_msg_img"> <img [src]="selectedPerson.img" alt="sunil"
                                                    class="thumb-circle">
                                            </div>
                                            <div class="received_msg">
                                                <div class="received_withd_msg">
                                                    <p>{{msg.received.msg}}</p>
                                                    <span class="time_date">{{msg.received.date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="msg.send" class="outgoing_msg">
                                            <div class="sent_msg">
                                                <p>{{msg.send.msg}}</p>
                                                <span class="time_date">{{msg.send.date}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-template>
                                <ng-template #nonMsg>
                                    <h5 class="text-center">There is no message.</h5>
                                </ng-template>
                            </div>
                            <div class="row row-flush icons mt-3 mb-2 px-2">
                                <em class="fa-2x mr-3 fas fa-volume-up"></em>
                                <em class="fa-2x mr-2 fas fa-microphone"></em>
                            </div>
                            <div class="type_msg">
                                <div class="input_msg_write">
                                    <input type="text" class="write_msg" placeholder="Type a message"
                                        [(ngModel)]="curMsg" (keyup.enter)="sendMsg();" />
                                    <button class="msg_send_btn" type="button" (click)="sendMsg();">
                                        <i class="fa-2x mr-2 fas fa-location-arrow"
                                            style="transform: rotate(45deg); margin-top:0.35em"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #nonPerson>
                        <h4 class="text-center">There is no connections</h4>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>