<div class="wrapper car-overview m-0 p-3 pt-4">
    <div class="container">
        <app-offsidebar></app-offsidebar>
        <div class="btn-close" (click)="onClose()"><em class="fa-2x mr-2 fas fa-times"></em></div>
        <div class="title">
            <p>Category: Cat B</p>
        </div>
        <div class="card card-transparent">
            <div class="card-body">
                <div class="card">
                    <div class="card-body pb-0">
                        <div class="row w-100 m-0 px-2 justify-content-between">
                            <div class="col-auto text-center p-0 text-truncate car-title" (click)="gotoDetail($event)">
                                Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam hendrerit sagittis
                                urna.</div>
                            <label>£50000</label>
                        </div>
                        <div class="row w-100 m-0 car-imgs">
                            <div class="row m-0 w-100 justify-content-center main-img" (click)="gotoDetail($event)">
                                <img src={{mainImage}} alt="main car">
                            </div>
                            <div class="row m-0 img-list">
                                <ngu-carousel #imgCarousel [inputs]="carouselTile" [dataSource]="imgLists">
                                    <ngu-tile *nguCarouselDef="let item; let id = index" class="px-1">
                                        <img src={{item.image}} alt="" (click)="selectImage(id)">
                                    </ngu-tile>
                                    <button NguCarouselPrev class="leftRs"
                                        [style.opacity]="imgCarousel.isFirst ? 0.2:1"><em
                                            class="fas fa-angle-left"></em></button>
                                    <button NguCarouselNext class="rightRs"
                                        [style.opacity]="imgCarousel.isLast ? 0.2:1"><em
                                            class="fas fa-angle-right"></em></button>
                                </ngu-carousel>
                            </div>
                        </div>
                        <div class="row w-100 m-0 icon-bar justify-content-around">
                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                            <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                            <em class="fa-2x mr-2 fas fa-reply"></em>
                            <em class="fa-2x mr-2 fas fa-exclamation-triangle"></em>
                            <img src="assets/img/icons/exclamation-octagon.png" height="20px"
                                style="margin-top: -3px; filter: opacity(0.6);">
                            <img src="assets/img/icons/exclamation-octagon.png" height="20px"
                                style="margin-top: -3px; filter: opacity(0.6);">
                        </div>
                        <div class="row w-100 m-0 p-3 text-center">
                            <span>Make: Land Rover | Model: Rover Sport | Trans: Manuel | Fuel Type: Petrol |
                                Mileage: 50K MIles | Seats: 5 | Doors: 5 | Engine Size: 2.1</span>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mb-3">
                    <textarea aria-label="With textarea" class="form-control" spellcheck="false"
                        placeholder="Description..." class="description p-2"
                        readonly>This is the description of this car. This car is very wonderful car. So you can buy this car. Highly recommend this car.This is the extra info of this car. Very good car. Highly recommend this car.</textarea>
                </div>
                <div class="row w-100 m-0 mb-3 car-level">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="row w-100 m-0">
                                <div class="col-5">
                                    <img src="assets/img/home/main-card.png" width="100%" (click)="gotoDetail($event)">
                                </div>
                                <div class="col-7 pr-0">
                                    <div class="row w-100 m-0">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                            hendrerit
                                            sagittis urna.</span>
                                    </div>
                                    <div class="row w-100 m-0 mt-3">
                                        <rating [ngModel]="3" [max]="5" [readonly]="true"
                                            [titles]="['one','two','three']" stateOn="fa-2x fa fa-star text-yellow"
                                            stateOff="fa-2x far fa-star"></rating>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 m-0 px-3 pt-3">
                                <div class="col-4 p-0 text-center">
                                    <span><em class="fa-2x mr-2 fas fa-clipboard-list"></em>&nbsp;&nbsp;Website</span>
                                </div>
                                <div class="col-4 p-0 text-center">
                                    <span><em
                                            class="fa-2x mr-2 fas fa-clipboard-list"></em>&nbsp;&nbsp;0779297372</span>
                                </div>
                                <div class="col-4 p-0 text-center">
                                    <span><em class="fa-2x mr-2 fas fa-clipboard-list"></em>&nbsp;&nbsp;2 Mils
                                        Away</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row w-100 m-0">
                    <div class="col-6 px-2 pl-0">
                        <div class="card w-100 h-100">
                            <div class="card-header mc-border-b pb-1 px-2">
                                <label>Highest Dealer</label>
                            </div>
                            <div class="row m-0 mc-relative">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image"
                                    (click)="gotoDetail($event)">
                                <div class="row text-center price-label">$3000</div>
                                <div class="row pics-header">
                                    <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                    <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                        alt="Slider Mark Play">
                                    <div class="interbar"></div>
                                    <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                    <span class="mb-0">&nbsp;0/5</span>
                                </div>
                            </div>
                            <div class="card-body px-2">
                                <p><strong>Lorem ipsum</strong></p>
                                <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                    hendrerit
                                    sagittis urna.</p>
                            </div>
                            <div class="card-footer row bg-white px-0 m-0 justify-content-around">
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-copy"></em>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 px-2 pr-0">
                        <div class="card w-100 h-100">
                            <div class="card-header mc-border-b pb-1 px-2">
                                <label>Highest Dealer</label>
                            </div>
                            <div class="row m-0 mc-relative">
                                <img class="w-100 mb-2" src="assets/img/home/main-card.png" alt="Card image"
                                    (click)="gotoDetail($event)">
                                <div class="row text-center price-label">$3000</div>
                                <div class="row pics-header">
                                    <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1">
                                    <img class="slide-start" src="assets/img/icons/slide-mark-play.png"
                                        alt="Slider Mark Play">
                                    <div class="interbar"></div>
                                    <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
                                    <span class="mb-0">&nbsp;0/5</span>
                                </div>
                            </div>
                            <div class="card-body px-2">
                                <p><strong>Lorem ipsum</strong></p>
                                <p class="descripton">Lorem ipsum dolor sit amet, consectetur adipicsing elit... Aliquam
                                    hendrerit
                                    sagittis urna.</p>
                            </div>
                            <div class="card-footer row bg-white px-0 m-0 justify-content-around">
                                <em class="fa-2x mr-2 fas fa-copy"></em>
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-clipboard-list"></em>
                                <em class="fa-2x mr-2 fas fa-cut"></em>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>