.form-register {
    .steps {
        ul {
            display: flex;
            display: -webkit-flex;
            list-style: none;
            padding-left: 0;
            justify-content: center;
            -o-justify-content: center;
            -ms-justify-content: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;

            li {
                outline: none;
                -o-outline: none;
                -ms-outline: none;
                -moz-outline: none;
                -webkit-outline: none;
                padding: 0 2px;

                label {
                    font-size: 1.2em;
                }

                .tab-bottom {
                    position: relative;
                    justify-content: center;

                    &:before {
                        position: absolute;
                        content: "";
                        background: #c0c0c0;
                        width: 100%;
                        height: 4px;
                        top: calc(50% - 2px);
                        left: 0;
                    }

                    span {
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        -o-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        background: #c0c0c0;
                        position: relative;
                        outline: none;
                    }
                }

                &.selected {
                    color: #2c2c2c;

                    .tab-bottom {
                        &:before {
                            background-color: #2c2c2c;
                        }
                        span {
                            background-color: #ffffff;
                            border: 2px solid #2c2c2c;
                            &:after {
                                content: "\2713";
                                color: #000000;
                                font-weight: bolder;
                                font-size: 0.9em;
                                top: -2px;
                                position: absolute;
                                left: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.vehicle-details {
    width: 100%;

    .card-header {
        background-color: #fcfcfc;
    }

    textarea {
        min-height: 111px;
    }

    em {
        color: #cccccc;
    }
}

.next-step,
.previous-step,
.submit-step {
    min-width: 200px;
    button {
        background-color: #34495e !important;
        color: #ffffff;
        font-size: 1.3em;
        font-weight: bold;
        .btn-arrow {
            background-color: #ffffff22;
        }
    }
}

.extra-option {
    font-size: 1.2em;
}

.select-options {
    width: 100%;

    .card-header {
        background-color: #fcfcfc;
    }
    .required {
        color: #ff0000;
    }
    option {
        font-size: 1.2em;
    }
}
