<div class="container">
    <div class="row m-0 w-100">
        <div class="card card-transparent w-100 h-100">
            <div class="card-header">
                <form class="form-register" action="#" method="post">
                    <div id="form-total" role="application" class="wizard clearfix">
                        <div class="steps clearfix">
                            <ul class="tablist">
                                <li class="tab" aria-disabled="false" class="col-md-3 text-center"
                                    [class.selected]="selectedId === 0" aria-selected="false">
                                    <label>Vehicle Details</label>
                                    <div class="row m-0 w-100 tab-bottom">
                                        <span id="form-total-t-0" href="#" aria-controls="form-total-p-0"></span>
                                    </div>
                                </li>
                                <li class="tab" aria-disabled="false" class="col-md-3 text-center"
                                    [class.selected]="selectedId === 1" aria-selected="false">
                                    <label>Picture Upload</label>
                                    <div class="row m-0 w-100 tab-bottom">
                                        <span id="form-total-t-0" href="#" aria-controls="form-total-p-0">
                                        </span>
                                    </div>
                                </li>
                                <li class="tab" aria-disabled="false" class="col-md-3 text-center"
                                    [class.selected]="selectedId === 2" aria-selected="false">
                                    <label>Extras</label>
                                    <div class="row m-0 w-100 tab-bottom">
                                        <span id="form-total-t-0" href="#" aria-controls="form-total-p-0">
                                        </span>
                                    </div>
                                </li>
                                <li class="tab" aria-disabled="false" class="col-md-3 text-center"
                                    [class.selected]="selectedId === 3" aria-selected="false">
                                    <label>More Details</label>
                                    <div class="row m-0 w-100 tab-bottom">
                                        <span id="form-total-t-0" href="#" aria-controls="form-total-p-0">
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body p-0">
                <div class="row m-0 p-3" *ngIf="selectedId === 0">
                    <div class="col-md-8 pl-md-0 vehicle-details">
                        <div class="card mc-border">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Enter your vehicle details</h4>
                            </div>
                            <div class="card-body px-4">
                                <form class="row m-0 mb-4 px-0 form-horizontal">
                                    <div class="col-md-6 m-0 pl-md-0 form-group">
                                        <h4>Post Code</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Enter post code"
                                                aria-label="Post Code" aria-describedby="postCode" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-map-marker-alt"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-0 pr-md-0 form-group">
                                        <h4>Registration Number</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Enter vehicle reg..."
                                                aria-label="Post Code" aria-describedby="postCode" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-arrow-left"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row mx-md-0 mx-3 mb-3 px-2 mc-border-b"></div>
                                <form class="row m-0 mb-4 px-0 form-horizontal">
                                    <div class="col-12 m-0 p-md-0 form-group">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Post heading..."
                                                aria-label="Post heading" aria-describedby="postHeading" />
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 p-md-0 form-group">
                                        <div class="input-group mb-3">
                                            <textarea class="form-control" aria-label="With textarea"
                                                placeholder="Description..."></textarea>
                                        </div>
                                    </div>
                                </form>
                                <div class="row mx-md-0 mx-3 mb-3 px-2 mc-border-b"></div>
                                <form class="row m-0 mb-4 px-0 form-horizontal">
                                    <div class="col-md-6 m-0 pl-md-0 form-group">
                                        <h4>Mileage:</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text"
                                                placeholder="Enter vehicle mileage..." aria-label="Vehicle Mileage"
                                                aria-describedby="vehicleMileage" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-dice-one"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-0 pr-md-0 form-group">
                                        <h4>Engine Size:</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Enter engine size..."
                                                aria-label="Engine Size" aria-describedby="engineSize" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-arrow-left"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row mx-md-0 mx-3 mb-3 px-2 mc-border-b"></div>
                                <form class="row m-0 mb-4 px-0 form-horizontal">
                                    <div class="col-md-6 m-0 pl-md-0 form-group">
                                        <h4>Year:</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Enter vehicle year..."
                                                aria-label="Vehicle Year" aria-describedby="vehicleYear" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-arrow-left"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-0 pr-md-0 form-group">
                                        <h4>Selling Price:</h4>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" placeholder="Enter selling price..."
                                                aria-label="Selling Price" aria-describedby="sellingPrice" />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary h-100" type="button"><em
                                                        class="fa-2x m-1 fas fa-money-bill-alt"></em></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-0 pr-md-0 select-options">
                        <div class="card mc-border mb-3">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Select Options</h4>
                            </div>
                            <div class="card-body px-4">
                                <form class="row m-0 mb-3 px-0 form-horizontal">
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Select Type</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option selected=""></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Select Make</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option selected=""></option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Model</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option value="0">--Select an option--</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Body Style</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option value="0">--Select an option--</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Transmission</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option value="0">--Select an option--</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 justify-content-between">
                                            <h4>Fuel Type</h4>
                                            <span class="required">Required</span>
                                        </div>
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option value="0">--Select an option--</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-3" *ngIf="selectedId === 1">
                    <div class="row w-100 m-0">
                        <div class="card card-transparent w-100">
                            <div class="card-body">
                                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                                    class="box-placeholder my-drop-zone">
                                    <h4 class="text-center">Select files - or - Drag-n-Drop Files</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-3" *ngIf="selectedId === 2">
                    <div class="col-md-8 pl-md-0 vehicle-details">
                        <div class="card mc-border">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Vehicle Features - Drag additional features here!</h4>
                            </div>
                            <div class="card-body px-4">
                                <form class="row m-0 mb-4 px-0 form-horizontal">
                                    <div class="col-12 m-0 pl-md-0 form-group">
                                        <tag-input theme='minimal' name="tagName1" [ngModel]="['ABS', '5 CD Ex']"
                                            placeholder="+ Feature"></tag-input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 m-0 pr-md-0 select-options">
                        <div class="card mc-border mb-3">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Select Options</h4>
                            </div>
                            <div class="card-body px-4">
                                <form class="row m-0 mb-3 px-0 form-horizontal">
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="input-group mb-3">
                                            <select class="custom-select">
                                                <option selected="">Safety Features</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 m-0 px-0 form-group">
                                        <div class="row m-0 mc-dash-border p-3 extra-option mb-2"><span>ABS</span></div>
                                        <div class="row m-0 mc-dash-border p-3 extra-option"><span>Alarm</span></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-3" *ngIf="selectedId === 3">
                    <div class="col-md-6 pl-md-0 vehicle-details">
                        <div class="card mc-border">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Promote Project</h4>
                            </div>
                            <div class="card-body p-5">
                                <form class="row m-0 px-0 form-horizontal">
                                    <div class="m-0 pl-md-0 form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" id="promote-project" type="checkbox"
                                                value="" />
                                            <label class="form-check-label ml-md-5" for="promote-project">
                                                <div class="row m-0">
                                                    <h5 class="mb-0">Feature Project At Top</h5>
                                                </div>
                                                <div class="row m-0">
                                                    <h5>$10</h5>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pr-md-0 vehicle-details">
                        <div class="card mc-border">
                            <div class="card-header mc-border-b p-3">
                                <h4 class="mb-0">Bid Settings</h4>
                            </div>
                            <div class="card-body p-5">
                                <form class="row m-0 px-0 form-horizontal">
                                    <div class="m-0 pl-md-0 form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" id="promote-project" type="checkbox"
                                                value="" />
                                            <label class="form-check-label ml-md-5" for="promote-project">
                                                <div class="row m-0">
                                                    <h5 class="mb-0">Hide Bids Other Bidders</h5>
                                                </div>
                                                <div class="row m-0">
                                                    <h5>$5</h5>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 p-3"
                    [ngClass]="{'justify-content-between':selectedId > 0, 'justify-content-end': selectedId === 0}">
                    <div class="row m-0 previous-step" *ngIf="selectedId > 0">
                        <button class="btn btn-labeled btn-secondary p-0 w-100 h-100" type="button"
                            (click)="gotoPreviousStep()">
                            <div class="row m-0 justify-content-between">
                                <div class="col-auto p-3 px-4 btn-arrow">
                                    <span><i class="fa-lg fa fa-angle-left"></i></span>
                                </div>
                                <div class="col my-auto">
                                    <span class="text-center">Previous Step</span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="row m-0 next-step" *ngIf="selectedId < 3">
                        <button class="btn btn-labeled btn-secondary p-0 w-100 h-100" type="button"
                            (click)="gotoNextStep()">
                            <div class="row m-0 justify-content-between">
                                <div class="col my-auto">
                                    <span class="text-center">Next Step</span>
                                </div>
                                <div class="col-auto p-3 px-4 btn-arrow">
                                    <span><i class="fa-lg fa fa-angle-right"></i></span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="row m-0 submit-step" *ngIf="selectedId === 3">
                        <button class="btn btn-labeled btn-secondary p-0 w-100 h-100" type="button"
                            (click)="gotoSubmit()">
                            <div class="row m-0 justify-content-between">
                                <div class="col my-auto">
                                    <span class="text-center">Submit</span>
                                </div>
                                <div class="col-auto p-3 px-4 btn-arrow">
                                    <span><i class="fa-lg fa fa-angle-right"></i></span>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>