<!-- Footer -->
<div class="row footer justify-content-center">
    <div class="row w-100 text-center footer-content">
        <div class="col-lg-9">
            <div class="row w-100 mb-5">
                <div class="col-md-4 text-md-left text-center mb-4">
                    <h3 class="mb-4">Info</h3>
                    <p class="mb-1"><a href="#">Privacy Policy</a></p>
                    <p class="mb-1"><a href="#">Terms and conditions</a></p>
                </div>
                <div class="col-md-4 text-md-left text-center mb-4">
                    <h3 class="mb-4">Navigation</h3>
                    <p class="mb-1"><a href="/">Home</a></p>
                </div>
                <div class="col-md-4 text-md-left text-center mb-4">
                    <h3 class="mb-4">Resources</h3>
                    <p class="mb-1"><a href="#">Pricing</a></p>
                    <p class="mb-1"><a href="#">Articles</a></p>
                    <p class="mb-1"><a href="#">Contact Form</a></p>
                </div>
            </div>
            <div class="row w-100 m-0 justify-content-md-start justify-content-center">
                <div class="row m-0">
                    <p>@{{settings.getAppSetting('year')}} MortoCar Ltd. All right reserved. Terms and conditions
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-lg-block d-none my-auto">
            <div class="row">
                <img src="assets/img/home/footer-mark.png" alt="Footer Mark" class="footer-mark">
            </div>
        </div>
    </div>
</div>