<div class="hidden-footer">
    <div class="wrapper">
        <!-- top navbar-->
        <app-header class="topnavbar-wrapper"></app-header>
        <!-- sidebar-->
        <!-- <app-sidebar class="aside-container"></app-sidebar> -->
        <!-- offsidebar-->
        <!-- <app-offsidebar></app-offsidebar> -->
        <!-- Main section-->
        <section class="section-container">
            <!-- Page content-->
            <div class="content-wrapper">
                <router-outlet></router-outlet>
            </div>
        </section>
        <!-- right sidebar -->
        <app-rightsidebar class="right-sidebar"></app-rightsidebar>
        <!-- Page footer-->
        <footer app-footer></footer>
    </div>
</div>