.control-styles {
    margin: 0 auto;
    width:200px;
    padding-top: 25px
}
.search-menu {
    display: block;
    font-size: 13px;
    line-height: 20px;
    border-bottom: solid 1px #CFC5E450;
    padding: 8px 5px;
}
