<!-- START Sidebar (left)-->
<div class="aside-inner mc-position-unset">
    <div class="search-menu">
      <div class="row m-0 mb-3">
          <span class="text-left">Search Menu</span>
          <span class="mx-auto">10,000 Vehicle found</span>
        </div>
        <div class="row m-0 px-1 justify-content-between">
          <div class="col-6 p-0">
            <p class="mb-0 text-truncate text-blue"><small><em class="mr-1 fas fa-star"></em>92 London road</small></p>
          </div>
          <div class="col-6 p-0 pl-1">
            <p class="mb-0 text-truncate text-blue text-right"><small><em class="mr-1 fas fa-sync"></em>Change address</small></p>
          </div>
        </div>
    </div>
    <div class="control-styles">

        <div class="d-flex pt-2">
            <span class="rel-left">Make &nbsp;</span>
            <ng-multiselect-dropdown
                class="rel-right"
                [placeholder]="'Relevance'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems0"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="d-flex pt-2">
            <span class="rel-left">Make &nbsp;</span>
            <ng-multiselect-dropdown
                class="rel-right"
                [placeholder]="'Relevance'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems1"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="d-flex pt-2">
            <span class="rel-left">Make &nbsp;</span>
            <ng-multiselect-dropdown
                class="rel-right"
                [placeholder]="'Relevance'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems2"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="d-flex pt-2">
            <span class="rel-left">Make &nbsp;</span>
            <ng-multiselect-dropdown
                class="rel-right"
                [placeholder]="'Relevance'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems3"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
        </div>
        <div class="d-flex pt-2">
            <span class="rel-left">Make &nbsp;</span>
            <ng-multiselect-dropdown
                class="rel-right"
                [placeholder]="'Relevance'"
                [data]="dropdownList"
                [(ngModel)]="selectedItems4"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            >
            </ng-multiselect-dropdown>
        </div>

        <div class="w-100 pt-5">
            <npn-slider [min]="0" [max]="50000"
                [minSelected]="0" [maxSelected]="40000"
                [step]="1000"
                [showStepIndicator]="true">
            </npn-slider>
        </div>
        <div class="mc-justify-center pt-2 w-100">
            <span class="">£0 - £50000</span>
        </div>
    </div>
</div>
<!-- END Sidebar (left)-->
