<ngu-carousel #imgCarousel [inputs]="carouselTile" [dataSource]="carReviewSlides">
    <ngu-tile *nguCarouselDef="let item; let j = index" class="py-0">
        <div class="card card-transparent h-100 slide-board">
            <div class="card-img-top text-center">
                <img [src]="item.image" [height]="imgHeight" style="max-width: 100%;">
            </div>
            <div class="card-footer h-100 board-info">
                <div class="row text-center p-3 m-0">
                    <div class="col-md-9">
                        <div class="row w-100">
                            <h3 class="text-white">{{item.carType}}</h3>
                        </div>
                        <div class="row w-100 detail-info">
                            <small>Miles: {{item.mils}}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>Engine:
                                {{item.engine}}</small>
                        </div>
                    </div>
                    <div class="col-md-3 text-right">
                        <label class="main-price">£{{item.price}}</label>
                    </div>
                </div>
            </div>
        </div>
    </ngu-tile>
    <button NguCarouselPrev class="leftRs" [style.opacity]="imgCarousel.isFirst ? 0.2:1"><em
            class="fa-2x fas fa-angle-left"></em></button>
    <button NguCarouselNext class="rightRs" [style.opacity]="imgCarousel.isLast ? 0.2:1"><em
            class="fa-2x fas fa-angle-right"></em></button>
</ngu-carousel>
<div class="row slide-header">
    <img class="slide-stop" src="assets/img/icons/slide-mark-1.png" alt="Slider Mark 1" (click)="slideStop()">
    <img class="slide-start" src="assets/img/icons/slide-mark-play.png" alt="Slider Mark Play" (click)="slideStart()">
    <div class="interbar"></div>
    <img src="assets/img/icons/slide-mark-camera.png" alt="Slider Mark camera">
    <span class="mb-0">&nbsp;{{imgCarousel.activePoint + 1}}/{{carReviewSlides?.length}}</span>
</div>