.slide-board {
    .board-info {
        background-color: #171e27;

        .detail-info {
            color: #8492a3;
        }
    }

    .main-price {
        text-align: center;
        color: #fece0e;
    }
    img {
        pointer-events: none;
    }
}

.slide-header {
    position: absolute;
    top: 0.2em;
    left: 1.7em;
    margin: 0;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #000000aa;
    color: #ffffff;

    z-index: 100;

    height: 2em;

    img {
        height: 100%;
        width: auto;
        margin: 0 0.2em;

        &.slide-stop,
        &.slide-start {
            cursor: pointer;
        }
    }

    .interbar {
        border-right: 1px solid #ffffffaa;
        padding: 0.1em 0.1em;
        margin: 0.1em 0.5em;
    }
}

span.img-text {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    cursor: pointer;
    width: 100%;
    font-size: 23px;
    display: block;
    text-transform: capitalize;
}

span.img-text:hover {
    color: #2caae1;
}

.item {
    padding: 10px;
    box-sizing: border-box;
}

.tile {
    min-height: 200px;
    background-color: #ccc;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
