
<div class="wrapper">
    <app-header class="topnavbar-wrapper" [isLogin]="false"></app-header>
    <div class="main-container err-container">
        <h1 class="text-center pt-5">Error 404 Page</h1>
    </div>

    <footer app-footer></footer>
</div>